*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
}
#playerSizeTracker, #foodEatenTracker{
    color: aliceblue;
    font-family: arial;
    font-size: 24pt;
    position: absolute;
}
#playerSizeTracker{
    top: 100px;
    left: 425px;
}
#foodEatenTracker{
    top: 135px;
    left: 425px;
}
#deathMessage{
    display: none;
    font-size: 24pt;
    font-family: arial;
    color: white;
    position: absolute;
    left: 50%;
    top: 470px;
}